
<div class="detail-container">
  <img class="img" src="{{ product?.url }}" />
  <div class="detail-item">
      <h2>{{ product?.name }}</h2>
      <p class="product-item">{{ product?.description }}</p>
      <p class="price"> $ {{ product?.price }}</p>
      <form (ngSubmit)="addProductToCart(product)">
      <select  (change)="selectedChange($event)"  class="select-input form-select" >
      <option *ngFor="let value of productCount" [selected]="value == selectedItem" value="{{ value }}">
        {{ value }}
      </option>
    </select>
    <p> <input  type="submit" value="Add to Cart" class="mt-2 btn " /></p>
      </form>
      <div>
          <a class="back-link" routerLink="/"> Back to product list</a>
      </div>
  </div>
</div>
